{% extends 'main.twig' %}

{% block content %}

<!-- SLIDER -->
  <div class="bannerContainer">
    <div class="bannerLeft">
      <button class="btn"><h2><i class="fa fa-angle-left fa-3x"></i></h2></button>
    </div>
    <div class="bannerContent">


      {% for slide in slides %}

      <div id="o-{{slide.title}}" class="slide">
        <div class="slideText bs">
          <h1>{{slide.title}}</h1>
          {{slide.content}}
          <a href="{{slide.get_field('link')}}" class="btn">view more {{slide.title}}</a>
        </div>
        <img class="slideImage" src="{{slide.thumbnail.src}}" />

      </div>

      {% endfor %}

      <div class="tracker">
        {% for item in slides %}
        <button id="i-{{item.title}}" class="btn open"></button>
        {% endfor %}

      </div>
    </div>
    <div class="bannerRight">
      <button class="btn"><h2><i class="fa fa-angle-right fa-3x"></i></h2></button>
    </div>
  </div>

<!-- BODY -->


{% endblock %}
