<div id="o-Menu" class="navWrap">
	<div class="navMenu bs">
		<div class="menuWrap">
			<div class="menuHeader bs">
				<button id="i-MenuClose" class="btn">Close<i class="fa fa-times"></i></button>
			</div>

			<div class="menuContent">

				<div id="o-TopMenu" class="topMenu open">
					<ul class="menuList">
						<li class="listItem bs">
							<button id="i-ProductMenu" class="itemBtn bs">Products</button>
						</li>
						<li class="listItem bs">
							<button id="i-SupportMenu" class="itemBtn bs">Support</button>
						</li>
						<li class="listItem bs">
							<a id="" href="/contact" class="itemBtn bs">Contact</a>
						</li>
					</ul>
				</div>
				<div id="o-ProductMenu" class="subMenu">
					<ul class="menuList">
						<li class="listItem bs">
							<button id="i-ProductMenuBack" class="itemBtn backBtn bs">Back</button>
						</li>
						{% for product in productsMenu.get_items %}
						<li class="listItem bs">
							<a id="i-{{product.title}}" href="{{product.get_link}}" class="itemBtn bs">{{product.title}}</a>
						</li>
							{% if product.get_children %}

								<ul class="listDropdown">
									{% for child in product.get_children %}
										<li class="listItem bs">
											<a id="i-{{child.title}}" href="{{child.get_link}}" class="itemBtn bs">{{child.title}}</a>
										</li>
									{% endfor %}
								</ul>

							{% endif %}
						{% endfor %}
					</ul>
				</div>

				<div id="o-SupportMenu" class="subMenu">
					<ul class="menuList">
						<li class="listItem bs">
							<button id="i-SupportMenuBack" class="itemBtn backBtn bs">Back</button>
						</li>
						{% for support in supportMenu.get_items %}
						<li class="listItem bs">
							<a id="i-{{support.title}}" href="{{support.get_link}}" class="itemBtn bs">{{support.title}}</a>
						</li>
							{% if support.get_children %}

								<ul class="listDropdown">
									{% for child in support.get_children %}
										<li class="listItem bs">
											<a id="i-{{child.title}}" href="{{child.get_link}}" class="itemBtn bs">{{child.title}}</a>
										</li>
									{% endfor %}
								</ul>

							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="menuFooter bs"></div>
			</div>

		</div>
	</div>
</div>
