{% extends 'main.twig' %}

{% block content %}

<div class="contentContainer">
  <div class="productSide bs">

    <div id="productGallery" class="bs">
      Loading gallery...
    </div>
    <script>window.productImages = [];</script>
    <script>window.productImages.push({full:'{{ TimberImage(post.get_field('image_1')).src}}', url:'{{ TimberImage(post.get_field('image_1')).src('thumbnail') }}' }); </script>
    <script>window.productImages.push({full:'{{ TimberImage(post.get_field('image_2')).src}}', url:'{{ TimberImage(post.get_field('image_2')).src('thumbnail') }}' }); </script>
    <script>window.productImages.push({full:'{{ TimberImage(post.get_field('image_3')).src}}', url:'{{ TimberImage(post.get_field('image_3')).src('thumbnail') }}' }); </script>
    <script>window.productImages.push({full:'{{ TimberImage(post.get_field('image_4')).src}}', url:'{{ TimberImage(post.get_field('image_4')).src('thumbnail') }}' }); </script>
    <script>console.log(window.productImages)</script>

    <div class="linksContainer bs">
      <h5 class="title">Resources</h5>
      <div class="linksWrap">

        {% for i in 1..6 %}
            {% set file = post.get_field('file_' ~ i)|split(';') %}
            {% if file[0] == 'pdf' %}
	            <a href="{{file[2]}}" target="_blank" class="linkItem btn">
                  <img class="" src="{{theme.link}}/images/filetypes/pdf.png"></img>
                  <p>{{file[1]}}</p>
                </a>
            {% elseif file[0] == 'video' %}
            	<a href="{{file[2]}}" target="_blank" class="linkItem btn">
                  <img class="" src="{{theme.link}}/images/filetypes/avi.png"></img>
                  <p>>{{file[1]}}</p>
                </a>
            {% else %}

            {% endif %}
        {% endfor %}

      </div>
    </div>

  </div>
  <div class="bodyContent single bs">
    <div class="productWrap">
      <div class="productContent bs">
        <div class="header">
          <h1 class="title">{{post.title}}</h1>

          {% if post.get_field('price') %}
            <h5 class="price">{{post.get_field('price')}}</h5>
          {% endif %}

        </div>
        <div class="productCat">
          {% for category in post.categories %}
            <a href="{{category.link}}" class="link">{{category.name}}</a>
            <p>-</p>
          {% endfor %}
        </div>
        <div id="content" class="productDesc">
          {{post.content}}
        </div>
        <div class="productBody">
          <div class="productMenu">
            <a class="bs open" id="i-Details" href="#content">Additional Details</a>
            <a class="bs" id="i-Specs" href="#content">Specifications</a>
            <a class="bs" id="i-Support" href="#content">Support</a>
          </div>
          <div class="content open" id="o-Details">
            <div class="body bs">
              {{post.get_field('details')}}
            </div>
          </div>
          <div class="content" id="o-Specs">
            <div class="body bs">
              {{post.get_field('specs')}}
            </div>
          </div>
          <div class="content" id="o-Support">
            <div class="body bs">
              {{post.get_field('support')}}
            </div>
          </div>
        </div>
        {% if post.get_field('associated_products') %}
          <div class="productOptions">
            <h4 class="title">Associated Products</h4>
            <ul class="optionList">
              {% for item in post.get_field('associated_products') %}
                <a href="{{item.permalink}}">
                  <li class="bs">
                    <div class="optionImg bs">
                      <img src="{{item.thumbnail.src('thumbnail')}}" />
                    </div>
                    <h5>{{item.title}}</h5>
                    <h6>{{ item.get_field('price') }}</h6>
                  </li>
                </a>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
